@model Domain.Entities.Publicite

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Wish shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/FrontOffice/styles/bootstrap4/bootstrap.min.css")>
    <link href=@Url.Content("/Content/FrontOffice/plugins/font-awesome-4.7.0/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/FrontOffice/styles/product.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/FrontOffice/styles/product_responsive.css")>
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_inner d-flex flex-row align-items-center justify-content-start">
                <div class="logo"><a href="#">Wish</a></div>
                <nav class="main_nav">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="categories.html">clothes</a></li>
                        <li><a href="categories.html">accessories</a></li>
                        <li><a href="categories.html">lingerie</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </nav>
                <div class="header_content ml-auto">
                    <div class="search header_search">
                        <form action="#">
                            <input type="search" class="search_input" required="required">
                            <button type="submit" id="search_button" class="search_button"><img src=@Url.Content("/Content/FrontOffice/images/magnifying-glass.svg") alt=""></button>
                        </form>
                    </div>
                    <div class="shopping">
                        <!-- Cart -->
                        <table>
                            <tr>
                                <td>
                                    <a href='@Url.Action("Index", "Paniers")'>
                                        <img src=@Url.Content("/Content/FrontOffice/images/shopping-bag.svg") alt="">
                                    </a>
                                </td>
                                <td>
                                    <a>
                                        <div class="avatar">
                                            <img src=@Url.Content("/Content/FrontOffice/images/avatar.svg") alt="">
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
            <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
            <div class="logo menu_mm"><a href="#">Wish</a></div>
            <div class="search">
                <form action="#">
                    <input type="search" class="search_input menu_mm" required="required">
                    <button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src=@Url.Content("/Content/FrontOffice/images/magnifying-glass.svg") alt=""></button>
                </form>
            </div>
            <nav class="menu_nav">
                <ul class="menu_mm">
                    <li class="menu_mm"><a href="index.html">home</a></li>
                    <li class="menu_mm"><a href="#">clothes</a></li>
                    <li class="menu_mm"><a href="#">accessories</a></li>
                    <li class="menu_mm"><a href="#">lingerie</a></li>
                    <li class="menu_mm"><a href="#">contact</a></li>
                </ul>
            </nav>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll" data-image-src=@Url.Content("/Content/FrontOffice/images/product.jpg") data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_container">
                            <div class="home_content">
                                <div class="home_title">Woman</div>
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li>Woman</li>
                                        <li>Swimsuits</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product -->

        <div class="product">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="current_page">
                            <ul>
                                <li><a href="categories.html">Woman's Fashion</a></li>
                                <li><a href="categories.html">Swimsuits</a></li>
                                <li>@Html.DisplayNameFor(model => model.Titre)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row product_row">

                    <!-- Product Image -->
                    <div class="col-lg-7">
                        <div class="product_image">
                          
                            <div class="product_image_large">
                                @{string path = "~/Content/Upload/" + Model.Image;}
                                <img src="@Url.Content(path)" alt="">
                            </div>
                            <div class="product_image_thumbnails d-flex flex-row align-items-start justify-content-start">
                               
                            </div>
                        </div>
                    </div>

                    <!-- Product Content -->
                    <div class="col-lg-5">
                        <div class="product_content">
                            <div class="product_name">@Html.DisplayNameFor(model => model.Titre)
                            
                                 
                              
                             : @Html.DisplayFor(model => model.Titre)

                            
                       

                        </div>

                            <br />
                        <div class="product_content">
                            <div class="product_name">@Html.DisplayNameFor(model => model.Description)</div>
                            
                      
                           
                        
                            <div class="product_text">
                                @Html.DisplayFor(model => model.Description)

                            </div>
                           
                      
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Newsletter -->
        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="footer_logo"><a href="#">Wish</a></div>
                        <nav class="footer_nav">
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><a href="categories.html">clothes</a></li>
                                <li><a href="categories.html">accessories</a></li>
                                <li><a href="categories.html">lingerie</a></li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                        </nav>
                        <div class="footer_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src=@Url.Content("/Content/FrontOffice/js/jquery-3.2.1.min.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/styles/bootstrap4/popper.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/styles/bootstrap4/bootstrap.min.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/plugins/easing/easing.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/plugins/parallax-js-master/parallax.min.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/js/product_custom.js")></script>
</body>
</html>
