@model ExamenWeb.Models.PublicitesModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Publicite", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <form class="#">
        <div class="form-horizontal">
            <h4>Publicite</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <fieldset>
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Image", null, new { type = "file" })
                    @Html.ValidationMessageFor(model => model.Image)
                </div>
            </fieldset>
            <br><br>
            <fieldset>
                @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br><br>
            <fieldset>
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </fieldset>
            <br><br>
            <fieldset>
                @Html.LabelFor(model => model.Products, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{ IEnumerable<Domain.Entities.Produit> prods = ViewBag.p;}
                    @Html.DropDownListFor(model => model.idProducts, prods.Select(p => new SelectListItem { Value = p.Id_produit.ToString(), Text = p.Libelle }))
                    @*@Html.EditorFor(model => model.Produit, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.Products, "", new { @class = "text-danger" })
                </div>
            </fieldset>

            <br><br>
            <fieldset>
                
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
              
            </fieldset>
        </div>
    </form>

                        }

<div>
    @Html.ActionLink("Back to List", "ListePublicitee")
</div>
