@using ExamenWeb.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Wish shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/FrontOffice/styles/bootstrap4/bootstrap.min.css")>
    <link href=@Url.Content("/Content/FrontOffice/plugins/font-awesome-4.7.0/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/FrontOffice/styles/cart.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/FrontOffice/styles/cart_responsive.css")>
</head>
<body>
    <div class="super_container">
        <!-- Header -->
        <header class="header">
            <div class="header_inner d-flex flex-row align-items-center justify-content-start">
                <div class="logo"><a href="#">Wish</a></div>
                <nav class="main_nav">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li><a href="categories.html">clothes</a></li>
                        <li><a href="categories.html">accessories</a></li>
                        <li><a href="categories.html">lingerie</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </nav>
                <div class="header_content ml-auto">
                    <div class="search header_search">
                        <form action="#">
                            <input type="search" class="search_input" required="required">
                            <button type="submit" id="search_button" class="search_button"><img src=@Url.Content("/Content/FrontOffice/images/magnifying-glass.svg") alt=""></button>
                        </form>
                    </div>
                    <div class="shopping">
                        <!-- Cart -->
                        <table>
                            <tr>
                                <td>
                                    <a href='@Url.Action("Index", "Paniers")'>
                                        <img src=@Url.Content("/Content/FrontOffice/images/shopping-bag.svg") alt="">
                                    </a>
                                </td>
                                <td>
                                    <a>
                                        <div class="avatar">
                                            <img src=@Url.Content("/Content/FrontOffice/images/avatar.svg") alt="">
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div>
            </div>
        </header>
        <!-- Menu -->
        <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
            <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
            <div class="logo menu_mm"><a href="#">Wish</a></div>
            <div class="search">
                <form action="#">
                    <input type="search" class="search_input menu_mm" required="required">
                    <button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src=@Url.Content("/Content/FrontOffice/images/magnifying-glass.svg") alt=""></button>
                </form>
            </div>
            <nav class="menu_nav">
                <ul class="menu_mm">
                    <li class="menu_mm"><a href="index.html">home</a></li>
                    <li class="menu_mm"><a href="#">clothes</a></li>
                    <li class="menu_mm"><a href="#">accessories</a></li>
                    <li class="menu_mm"><a href="#">lingerie</a></li>
                    <li class="menu_mm"><a href="#">contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Home -->
        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll" data-image-src=@Url.Content("/Content/FrontOffice/images/cart.jpg") data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_container">
                            <div class="home_content">
                                <div class="home_title">Shopping Cart</div>
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li>Shopping Cart</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart -->
        @{
            if (Session["Cart"] != null)
            {
                using (Html.BeginForm("UpdateCart", "Paniers", FormMethod.Post))
                {
                    <div class="cart_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="cart_title">your shopping cart</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="cart_bar d-flex flex-row align-items-center justify-content-start">
                                        <div class="cart_bar_title_name">Product</div>
                                        <div class="cart_bar_title_content ml-auto">
                                            <div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
                                                <div class="cart_bar_title_price">Price</div>
                                                <div class="cart_bar_title_quantity">Quantity</div>
                                                <div class="cart_bar_title_total">Total</div>
                                                <div class="cart_bar_title_price">Action</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="cart_products">
                                        <ul>
                                            @foreach (var item in (List<Cart>)Session["Cart"])
                                            {
                                                <li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
                                                    <div class="cart_product_image"><img src=@Url.Content("/Content/FrontOffice/images/cart_product_1.jpg") alt=""></div>
                                                    <div class="cart_product_name"><a href="product.html">@Html.DisplayFor(modelItem => item.Product.Nom)</a></div>
                                                    <div class="cart_product_info ml-auto">
                                                        <div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
                                                            <div class="cart_product_price">@Html.DisplayFor(modelItem => item.Product.Price) USD</div>
                                                            <div class="product_quantity_container">
                                                                <div class="product_quantity clearfix">
                                                                    <input name="quantitys" type="text" pattern="[0-9]*" value=@Html.DisplayFor(modelItem => item.Quantity)>
                                                                    <div class="quantity_buttons">
                                                                        <div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
                                                                        <div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @* <script type="text/javascript">

                                                                   $(document).ready(function){
                                                                     //called when key is pressed in textbox
                                                                     $("#quantity").keypress(function e){
                                                                         if(e.which > quan)
                                                                     }

                                                                 }
                                                                </script>*@
                                                            <!-- Products Total Price -->
                                                            <div class="cart_product_total">@(String.Format("{0:N0}", item.Product.Price * item.Quantity))</div>
                                                            <!-- Product Cart Trash Button -->
                                                            <div class="cart_bar_title_price">
                                                                @Html.ActionLink(" Delete ", "Delete", new { id = item.Product.Id_produit }, new { onclick = "return confirm ('Are you sure you want to delete this?');" })



                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
                                        <button class="button_update cart_button">
                                            @Html.ActionLink(" Clear Cart ", "clearCart", new { onclick = "return confirm ('Are you sure you want to delete this?');" })
                                        </button>
                                        <input type="submit" class="button_update cart_button" value="Update Cart" />


                                        <button class="button_update cart_button_2 ml-md-auto">

                                            @Html.ActionLink("continue shopping?", "Index", "Product")
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row cart_extra">
                                <!-- Cart Coupon -->
                                <div class="col-lg-6">
                                    <div class="cart_coupon">
                                        <
                                    </div>
                                </div>
                                <!-- Cart Total -->
                                <div class="col-lg-5 offset-lg-1">
                                    <div class="cart_total">
                                        <div class="cart_title">cart total</div>
                                        <ul>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_total_title">Subtotal</div>
                                                <div class="cart_total_price ml-auto">
                                                    @{
                                                        List<Cart> temp = (List<Cart>)Session["Cart"];
                                                        var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price));
                                                    }
                                                    @total USD
                                                </div>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_total_title">Taxes </div>
                                                <div class="cart_total_price ml-auto">18 %</div>
                                            </li>
                                            <li class="d-flex flex-row align-items-center justify-content-start">
                                                <div class="cart_total_title">Total</div>
                                                <div class="cart_total_price ml-auto">
                                                    @{

                                                        var total2 = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price + x.Quantity * x.Product.Price * 0.18));
                                                    }
                                                    @total2 USD
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="cart_total_button">
                                            @Html.ActionLink("Checkout Paypal", "PaymentWithPaypal", "Paniers")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <div class="cart_container">
                                                                <div class="container">
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="cart_title">your shopping cart</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="cart_bar d-flex flex-row align-items-center justify-content-start">
                                                                                <div class="cart_bar_title_name">Product</div>
                                                                                <div class="cart_bar_title_content ml-auto">
                                                                                    <div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
                                                                                        <div class="cart_bar_title_price">Price</div>
                                                                                        <div class="cart_bar_title_quantity">Quantity</div>
                                                                                        <div class="cart_bar_title_total">Total</div>
                                                                                        <div class="cart_bar_title_price">Action</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <br />
                                                                            <div class="cart_products">
                                                                                <ul><li><div class="cart_product_name">NO items in your cart !</div></li></ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                                    <!-- Newsletter -->

                                                        

                                                                    <!-- Footer -->

                                                        <footer class="footer">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col text-center">
                                                                        <div class="footer_logo"><a href="#">Wish</a></div>
                                                                        <nav class="footer_nav">
                                                                            <ul>
                                                                                <li><a href="index.html">home</a></li>
                                                                                <li><a href="categories.html">clothes</a></li>
                                                                                <li><a href="categories.html">accessories</a></li>
                                                                                <li><a href="categories.html">lingerie</a></li>
                                                                                <li><a href="contact.html">contact</a></li>
                                                                            </ul>
                                                                        </nav>
                                                                        <div class="footer_social">
                                                                            <ul>
                                                                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                                                <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                                                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="copyright">
                                                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                                            Copyright &copy;
                                                                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                                                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </footer>
        }
    </div>

    <script src=@Url.Content("/Content/FrontOffice/js/jquery-3.2.1.min.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/styles/bootstrap4/popper.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/styles/bootstrap4/bootstrap.min.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/plugins/easing/easing.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/plugins/parallax-js-master/parallax.min.js")></script>
    <script src=@Url.Content("/Content/FrontOffice/js/cart_custom.js")></script>
</body>
</html>
